body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: 2px solid;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  border-color: #ffcc66;
}
.btnModal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #000;
  color: #fff;
  border: 2px solid;
  padding: 10px 20px;
  text-align: center;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  border-color: #ffcc66;
}
.model{
  
  background: rgb(251, 251, 251);
  color: rgb(9, 9, 9);
  border: 2px solid;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  font-size: 15px;
  font-family: inherit;
  border-color: #eca412;
  width: 20%;
  height: 140px;
}
.display-block {
  display: block;
}

.display-none {
  display: none;
}
.btn:disabled {
  background: gray;
}

.container {

  width: 90%;
  height: 500px;
  border: 1px solid rgb(19, 23, 27);
  border-radius: 5px;
  position: relative;
  margin-left: auto;
  margin-right: auto;

}

.Explenation {
  width: 90%;
  height: 100px;
  margin-bottom: 2%;
  margin-top: 2%;
  border: 1px solid rgb(19, 23, 27);
  border-radius: 5px;
  font-size: x-large;
  background-color: #ffcc66;
  margin-left: auto;
  margin-right: auto;
}